.colorPickSelectorfontback.colorPickSelectorfont, .colorPickSelector1, .colorPickSelector2, .colorPickSelector3, .colorPickSelector4, .colorPickSelector5, .colorPickSelector6, .colorPickSelector7, .colorPickSelector8, .colorPickSelector9, .colorPickSelector10 {
  border-radius: 5px;  width: 36px;  height: 36px;  cursor: pointer;  -webkit-transition: all linear .2s;-moz-transition: all linear .2s;  -ms-transition: all linear .2s;  -o-transition: all linear .2s;  transition: all linear .2s;
  z-index:99999;
}
.variations_form.cart {position: absolute;left: -200%;max-height: 100px;overflow: hidden;margin: 0 !important;	padding: 0 !important;}
.product_meta{position: absolute;    left: -200%;}
.accordion {  background-color: #eee;  color: #444  !important;  cursor: pointer;  padding: 18px;  width: 100%;  text-align: left;  border: none;  outline: none;  transition: 0.4s;}
.accordion.active, .accordion:hover {    background-color: #f7941e;    color: #fff !important;}
.panel {  padding: 0px;  background-color: #737373;  display: none;  overflow: hidden;}
.panel p { color:#fff;}
.accordion i{	float: right;}
.accordion.active .fa-angle-down:before {    content: "\f106";}
.restorePop{
	overflow: hidden;
}
.restorePopBg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.8);
	z-index: 999;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	display: none;
}
.restorePop{
	position: absolute;
	width: 70%;
	height: 400px;	
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%) scale(0);
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	z-index: 9999;

}
.showRestore .restorePopBg{
	display: block;
}
.showRestore .restorePop{
	transform: translateX(-50%) translateY(-50%) scale(1);
}
img.closePopBtn {
	display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 99999;
    cursor: pointer;
    filter: brightness(200);
}
.showRestore {
    overflow: hidden !important;
} 
.contentA{
    width: 74.5%;
    float: left;
    height: 100%;
    background: #fff;
    border: 4px solid #f89032;    
}
.actionA {
    width: 25%;
    float: right;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f89032;
}
.actionA button {
    margin-bottom: 10px;
    min-width: 205px;
}
.contentA{
	padding: 20px;
}
.contentA h6.accordion {   
    font-size: 16px;
    padding: 14px;
    border-radius: 3px;
}
.contentA  .panel {
	background: transparent;
	box-shadow: none;
}
.contentA  .panel p{
	color: #000;
}
.resultant_values{
	height: 90%;
    overflow: auto;
}
.contentA  h2{
	    text-align: center;
    margin-bottom: 10px !important;
}
.html2canvas-container { width: 3000px !important; height: 3000px !important; }
.imgW{
	max-height: 119px;
    margin-bottom: 20px;
    overflow: hidden;
}
.imgW img{
	margin-top: -10px !important;
    display: block;
}
.NoPos {
    transform: none !important;
}
.tooltips{
	position: fixed;
	top: 0px;
	left: 50%;
	transform: translateX(-50%) scale(0);
	background: #000;
	color: #fff;
	border-radius: 10px;
	padding: 10px;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
}
.modal {
   position: absolute;
   top: 230px;
   right: 100px;
   bottom: 0;
   left: 0;
   z-index: 10040;
   overflow: auto;
   overflow-y: auto;
}

.tooltips.opens{
	transform: translateX(-50%) scale(1);
}
.tooltips p{
	color: #fff;
	margin: 0;
}
.loader{
    position: absolute;
    background: #737373;
    overflow: hidden;
    opacity: 0.9;
    height: 100%;
    width: 100%;
    max-width: 40px;
}