 #cf7cdb_messages{
    display: none;
    background: #1e8cbe;
    color: #fff;
    text-align: center;
    padding: 5px;
}
h2.cf7_cdb_dFlx{
    display: flex;
    justify-content: space-between;
}
.cf7_cdb_results .cf7_cdb_dFlx{
    display: flex;
    justify-content: space-between;
}
ul.cf7_cdb_results li {
    background: #fff;
    border: 1px solid #ddd;       
    align-items: center;
    transition: all .3s ease;
}
.item_top_ares{
    align-items: center;
     padding: 0 20px;
}
ul.cf7_cdb_results li:hover{
    box-shadow: 0px 0px 10px rgba(0,0,0,.05)
}
.cf7_cdb_item .cf7_cdb_meta strong{
    font-size: 13px;       
    margin-bottom: 8px;
    text-align: left;
    color: #9a9494;
}
.cf7_cdb_item .cf7_cdb_meta h3{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20%;
    white-space: nowrap;    
}
.cf7_cdb_item .cf7_cdb_meta h3 span{
    font-size: 13px;
}
.cf7_cdb_item .cf7_cdb_meta{
        min-width: 20%;
}
.data_details_item {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
}
.cf7_cdb_item_content{
    display: none;       
    border-top: 1px solid #ddd;
    padding: 20px;
}
li.cf7_cdb_item.cf7cdb_opened .item_top_ares {
    background: #1e8cbe;
}
li.cf7_cdb_item.cf7cdb_opened .cf7_cdb_meta *{
    color: #fff
}